@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root{
    --primary-color: #f3f3f3;
    --black-900: #1e2025;
    --blue-600: #4c5df8;
    --dark-gray: #363636;

}
*{
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color:var(--dark-gray);
    font-size: larger;
    
}
main{
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center
}
/* .left-side{
    width: 50%;
    text-align: center;
    padding-top: 25vh;
    background-color: var(--black-800);
}
.right-side{
    width: 50%;
    text-align: center;
    padding-top: 40vh;
    font-size: 2.5rem;
    background-color: var(--black-900);
    padding-left:2rem;
    
} */
h1{
   color: var(--blue-600);
   margin-top: 2rem;
}
label{
    display: block;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
input{
    padding: 1rem;
    font-size: large;
    border: 2px solid var(--blue-600);
    border-radius: 9px;
}
button{
    background-color: var(--blue-600);
    color: var(--primary-color);
    padding: 1rem;
    font-size: 1.2rem;
    border: 2px solid var(--blue-600);
    border-radius: 9px;
}
#output-box{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1.5rem;
}